html
body 
.page-scroller__wrapper
.page-scroller__section
	height 100%
.page-scroller__section
	position relative
	background-position top center
	background-repeat no-repeat
	background-size cover
	background-attachment fixed