@import 'nib'
@import 'rupture'
@import 's-grid-settings'
@import '_variables'
@import 's-grid-functions'
@import '_typography'
@import 'partials/index'

.wrapper
	display flex
	flex-direction column
	min-height 100vh
	main
		flex 1 0 auto
		position relative
	header
	footer
		flex 0